body {
    background: url("./images/pink-clouds-8764532_1280.jpg");
    background-size: cover;
    background-position: no-repeat;
    background-attachment: fixed;
    font-family: 'Lobster', cursive;
}

